aliasses:
  - &step_restore_vendor_cache
    restore_cache:
      keys:
        - birdspotting-vendor-{{ .Branch }}-{{ .Revision }}
        - birdspotting-vendor-{{ .Branch }}
        - birdspotting-vendor-
  - &step_save_vendor_cache
    save_cache:
      key: birdspotting-vendor-{{ .Branch }}-{{ .Revision }}
      paths: [ vendor/bundle ]


version: 2

jobs:
  test:
    docker:
      - image: circleci/ruby:2.4-jessie-node
    steps:
      - checkout
      - *step_restore_vendor_cache
      - run:
          name: Install Ruby dependencies
          command: bundle install --path vendor/bundle --jobs=2
      - *step_save_vendor_cache
      - run:
          name: Run RSpec suite
          command: |
            bundle exec rspec \
              --format progress \
              --format RspecJunitFormatter --out /tmp/test-results/rspec.xml
          environment:
            RAILS_ENV: test
      - store_test_results:
          path: /tmp/test-results

workflows:
  version: 2

  test:
    jobs:
      - test